@import "tailwindcss";

body {
  background: #0B0B0B;
  color: white;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}


/* Subtle glow utility */
.glow {
  box-shadow: 0 0 40px rgba(79, 70, 229, 0.15);
}